In [1]:
import requests
import pandas as pd
import io

In [2]:
%run -i "C:/AXG5303_Repos/wastewater_covid_surveillance/viral_lims_export.py"

In [3]:
qa_api_url = 'https://qa-redcap.doh.wa.gov/api/'
qa2_api_url = 'https://qa2-redcap.doh.wa.gov/api/'

qa_pid49 = "C601824C7A222588EC7F6D367BCF55C5"
qa2_pid49 = "C601824C7A222588EC7F6D367BCF55C5"


df_qa = redcap_API_export(qa_api_url, qa_pid49)
df_qa2 = redcap_API_export(qa2_api_url, qa2_pid49)

In [4]:
df_meta_qa = redcap_metadata_export(qa_api_url, qa_pid49)
df_meta_qa2 = redcap_metadata_export(qa2_api_url, qa2_pid49)

#need to drop "sepcify_mood" because it is a selection, not int:value pairs, drop avoids errors, ill just ignore this column
df_meta_qa.drop(index = 'specify_mood', inplace =True)
df_meta_qa2.drop(index = 'specify_mood', inplace =True)

In [5]:
date = date_time_redcap_fields(df_meta_qa)
date2 = date_time_redcap_fields(df_meta_qa2)

In [6]:
qa_restricted = accepted_redcap_fields(df_meta_qa)
qa2_restricted = accepted_redcap_fields(df_meta_qa2)

In [7]:
df_meta_qa[df_meta_qa["field_type"] == "text"].index

Index(['study_id', 'date_enrolled', 'first_name', 'last_name', 'telephone_1',
       'email', 'dob', 'num_children', 'height', 'weight', 'date_visit_b',
       'date_blood_b', 'alb_b', 'prealb_b', 'creat_b', 'npcr_b', 'chol_b',
       'transferrin_b', 'kt_v_b', 'drywt_b', 'sga_b',
       'date_supplement_dispensed', 'date_visit_1', 'alb_1', 'prealb_1',
       'creat_1', 'npcr_1', 'chol_1', 'transferrin_1', 'kt_v_1', 'drywt_1',
       'no_show_1', 'admission_date_1', 'discharge_date_1', 'date_death_1',
       'date_visit_2', 'alb_2', 'prealb_2', 'creat_2', 'npcr_2', 'chol_2',
       'transferrin_2', 'kt_v_2', 'drywt_2', 'no_show_2', 'admission_date_2',
       'discharge_date_2', 'date_death_2', 'date_visit_3', 'date_blood_3',
       'alb_3', 'prealb_3', 'creat_3', 'npcr_3', 'chol_3', 'transferrin_3',
       'kt_v_3', 'drywt_3', 'sga_3', 'no_show_3', 'admission_date_3',
       'discharge_date_3', 'date_death_3', 'withdraw_date',
       'complete_study_date'],
      dtype='object', name='field_name')

In [8]:
#identify the possible input values to redcap fields
redcap_keys = {}
for key, value in qa_restricted.items():
    redcap_keys[key] = [i for i in value.keys()]

In [9]:
#removing the following fields - have issues with them down the road
for i in ['aerobics', 'drink', 'eat', 'gym', 'meds']:
    del redcap_keys[i]

# Creating synthetic data for selection columns of lengths: 100, 1000, 10000, 100000

In [10]:
import random

selection_columns_100 = {}

for key, value in redcap_keys.items():
    selection_columns_100[key] = random.choices(value, k = 100)

In [11]:
selection_columns_1000 = {}

for key, value in redcap_keys.items():
    selection_columns_1000[key] = random.choices(value, k = 1000)

In [12]:
selection_columns_10000 = {}

for key, value in redcap_keys.items():
    selection_columns_10000[key] = random.choices(value, k = 10000)

In [13]:
selection_columns_100000 = {}

for key, value in redcap_keys.items():
    selection_columns_100000[key] = random.choices(value, k = 100000)

# Creating synthetic data for date columns of lengths: 100, 1000, 10000, 100000

In [14]:
#random date generator

np.random.seed(0)
start = pd.to_datetime('2000-01-01')
end = pd.to_datetime('2022-01-01')

def random_dates2(start, end, n, unit='D', seed=None):
    if not seed:  # from piR's answer
        np.random.seed(0)

    ndays = (end - start).days + 1
    return start + pd.to_timedelta(
        np.random.randint(0, ndays, n), unit=unit
    )

In [15]:
date_dict100 = {} 
for i in date.index:
    date_dict100[i] = random_dates2(start, end, 100)

In [16]:
date_dict1000 = {} 
for i in date.index:
    date_dict1000[i] = random_dates2(start, end, 1000)

In [17]:
date_dict10000 = {} 
for i in date.index:
    date_dict10000[i] = random_dates2(start, end, 10000)

In [18]:
date_dict100000 = {} 
for i in date.index:
    date_dict100000[i] = random_dates2(start, end, 100000)

# Creating random string for remaining columns

# attempt to import single row of dates and selection fields

In [19]:
df_qa

,date_enrolled,patient_document,first_name,last_name,address,telephone_1,email,dob,age,ethnicity,...,death_3,date_death_3,cause_death_3,month_3_data_complete,complete_study,withdraw_date,withdraw_reason,complete_study_date,study_comments,completion_data_complete
study_id,,,,,,,,,,,,,,,,,,,,,
1,2007-06-25,NaN,Alexey,Gilman,123 Fake street,NaN,NaN,2007-06-25,14,1,...,1.0,2007-06-25,1.0,0,1.0,2007-06-25,3.0,2007-06-25,NaN,0
2,2022-01-05,NaN,Alexey,Gilman,123 Fake street,NaN,NaN,2022-01-05,0,2,...,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,0

In [20]:
#adding selection fields
df_selection = pd.DataFrame(selection_columns_100)
df_qa.loc[1, df_selection.columns] = df_selection.loc[0,:]

In [21]:
#adding date fields
df_date = pd.DataFrame(date_dict100)

#convert to redcap format
for i in df_date:
    df_date[i] =  df_date[i].dt.strftime('%Y-%m-%d')
df_qa.loc[1, df_date.columns] = df_date.loc[0,:]

In [22]:
remaining = set(df_qa.columns) - set(df_date.columns) - set(df_selection.columns)

#Nice attempt that did not work
to_remove = []
for i in remaining:
    if re.match(r"^eat",i):
        to_remove.append(i)
        
    if re.match(r"^drink",i):
        to_remove.append(i)
        
    if re.match(r"^aerobics",i):
        to_remove.append(i)
        
    if re.match(r"^meds",i):
        to_remove.append(i)
        
    if re.match(r"^gym",i):
        to_remove.append(i)
        
    if re.match(r".*complete$",i):
        to_remove.append(i)
        
remaining = remaining - set(to_remove)

text_dict = {i:"abc" for i in remaining}

df_text = pd.DataFrame(text_dict, index = [0])

df_qa.loc[1,df_text.columns] = df_text.loc[0,:]

text_fields = ['study_id', 'date_enrolled', 'first_name', 'last_name', 'telephone_1',
       'email', 'dob', 'num_children', 'height', 'weight', 'date_visit_b',
       'date_blood_b', 'alb_b', 'prealb_b', 'creat_b', 'npcr_b', 'chol_b',
       'transferrin_b', 'kt_v_b', 'drywt_b', 'sga_b',
       'date_supplement_dispensed', 'date_visit_1', 'alb_1', 'prealb_1',
       'creat_1', 'npcr_1', 'chol_1', 'transferrin_1', 'kt_v_1', 'drywt_1',
       'no_show_1', 'admission_date_1', 'discharge_date_1', 'date_death_1',
       'date_visit_2', 'alb_2', 'prealb_2', 'creat_2', 'npcr_2', 'chol_2',
       'transferrin_2', 'kt_v_2', 'drywt_2', 'no_show_2', 'admission_date_2',
       'discharge_date_2', 'date_death_2', 'date_visit_3', 'date_blood_3',
       'alb_3', 'prealb_3', 'creat_3', 'npcr_3', 'chol_3', 'transferrin_3',
       'kt_v_3', 'drywt_3', 'sga_3', 'no_show_3', 'admission_date_3',
       'discharge_date_3', 'date_death_3', 'withdraw_date',
       'complete_study_date']

text2_dict = {i:"abcdef" for i in text_fields}
df_text2 = pd.DataFrame(text2_dict, index = [0])

df_qa.loc[1,df_text2.columns] = df_text2.loc[0,:]

df_qa["study_id"] = [1,2]

df_qa

In [23]:
#Connecting to PID171
import redcap
project = redcap.Project(qa_api_url, qa_pid49)

In [24]:
response = project.import_records(df_qa, force_auto_number=False)
response

{'count': 2}