In [1]:
import requests
import pandas as pd
import io

In [2]:
%run -i "C:/AXG5303_Repos/wastewater_covid_surveillance/viral_lims_export.py"

In [3]:
qa_api_url = 'https://qa-redcap.doh.wa.gov/api/'
qa2_api_url = 'https://qa2-redcap.doh.wa.gov/api/'

qa_pid49 = "C601824C7A222588EC7F6D367BCF55C5"
qa2_pid49 = "C601824C7A222588EC7F6D367BCF55C5"


df_qa = redcap_API_export(qa_api_url, qa_pid49)
df_qa2 = redcap_API_export(qa2_api_url, qa2_pid49)

In [4]:
df_meta_qa = redcap_metadata_export(qa_api_url, qa_pid49)
#df_meta_qa2 = redcap_metadata_export(qa2_api_url, qa2_pid49)

#need to drop "sepcify_mood" because it is a selection, not int:value pairs, drop avoids errors, ill just ignore this column
df_meta_qa.drop(index = 'specify_mood', inplace =True)
#df_meta_qa2.drop(index = 'specify_mood', inplace =True)

In [5]:
date = date_time_redcap_fields(df_meta_qa)
#date2 = date_time_redcap_fields(df_meta_qa2)

In [6]:
qa_restricted = accepted_redcap_fields(df_meta_qa)
#qa2_restricted = accepted_redcap_fields(df_meta_qa2)

In [7]:
#identify the possible input values to redcap fields
redcap_keys = {}
for key, value in qa_restricted.items():
    redcap_keys[key] = [i for i in value.keys()]

In [8]:
#removing the following fields - have issues with them down the road
for i in ['aerobics', 'drink', 'eat', 'gym', 'meds']:
    del redcap_keys[i]

# Creating synthetic data for selection columns of lengths: 100, 1000, 10000, 100000

In [9]:
import random

selection_columns_100 = {}

for key, value in redcap_keys.items():
    selection_columns_100[key] = random.choices(value, k = 100)

In [10]:
selection_columns_1000 = {}

for key, value in redcap_keys.items():
    selection_columns_1000[key] = random.choices(value, k = 1000)

In [11]:
selection_columns_10000 = {}

for key, value in redcap_keys.items():
    selection_columns_10000[key] = random.choices(value, k = 10000)

In [12]:
selection_columns_100000 = {}

for key, value in redcap_keys.items():
    selection_columns_100000[key] = random.choices(value, k = 100000)

# Creating synthetic data for date columns of lengths: 100, 1000, 10000, 100000

In [13]:
#random date generator

np.random.seed(0)
start = pd.to_datetime('2000-01-01')
end = pd.to_datetime('2022-01-01')

def random_dates2(start, end, n, unit='D', seed=None):
    if not seed:  # from piR's answer
        np.random.seed(0)

    ndays = (end - start).days + 1
    return start + pd.to_timedelta(
        np.random.randint(0, ndays, n), unit=unit
    )

In [14]:
date_dict100 = {} 
for i in date.index:
    date_dict100[i] = random_dates2(start, end, 100)

In [15]:
date_dict1000 = {} 
for i in date.index:
    date_dict1000[i] = random_dates2(start, end, 1000)

In [16]:
date_dict10000 = {} 
for i in date.index:
    date_dict10000[i] = random_dates2(start, end, 10000)

In [17]:
date_dict100000 = {} 
for i in date.index:
    date_dict100000[i] = random_dates2(start, end, 100000)

# creating test files

In [18]:
df_date_100 = pd.DataFrame(date_dict100)
df_selecrtion_100 = pd.DataFrame(selection_columns_100)

df_100 = pd.concat([df_date_100, df_selecrtion_100], axis = 1)

df_100["first_name"] = "justice"
df_100["last_name"] = "smith"

df_100.to_csv("100_records.csv", index = False)

In [ ]:
df_date_1000 = pd.DataFrame(date_dict1000)
df_selecrtion_1000 = pd.DataFrame(selection_columns_1000)

df_1000 = pd.concat([df_date_1000, df_selecrtion_1000], axis = 1)

df_1000["first_name"] = "justice"
df_1000["last_name"] = "smith"

df_1000.to_csv("1000_records.csv", index = False)

In [ ]:
df_date_10000 = pd.DataFrame(date_dict10000)
df_selecrtion_10000 = pd.DataFrame(selection_columns_10000)

df_10000 = pd.concat([df_date_10000, df_selecrtion_10000], axis = 1)

df_10000["first_name"] = "justice"
df_10000["last_name"] = "smith"

df_10000.to_csv("10000_records.csv", index = False)

In [ ]:
df_date_100000 = pd.DataFrame(date_dict100000)
df_selecrtion_100000 = pd.DataFrame(selection_columns_100000)

df_100000 = pd.concat([df_date_100000, df_selecrtion_100000], axis = 1)

df_100000["first_name"] = "justice"
df_100000["last_name"] = "smith"

df_100000.to_csv("100000_records.csv", index = False)

In [23]:
df_10 = df_100.iloc[0:10,:].copy()

In [37]:
df_10

,date_enrolled,dob,date_visit_b,date_blood_b,date_supplement_dispensed,date_visit_1,admission_date_1,discharge_date_1,date_death_1,date_visit_2,...,compliance_3,hospit_3,cause_hosp_3,discharge_summary_3,death_3,cause_death_3,complete_study,withdraw_reason,first_name,last_name
0,2007-06-25,2007-06-25,2007-06-25,2007-06-25,2007-06-25,2007-06-25,2007-06-25,2007-06-25,2007-06-25,2007-06-25,...,3,1,2,1,0,1,1,0,justice,smith
1,2007-02-20,2007-02-20,2007-02-20,2007-02-20,2007-02-20,2007-02-20,2007-02-20,2007-02-20,2007-02-20,2007-02-20,...,4,1,2,1,0,2,0,2,justice,smith
2,2004-07-11,2004-07-11,2004-07-11,2004-07-11,2004-07-11,2004-07-11,2004-07-11,2004-07-11,2004-07-11,2004-07-11,...,3,0,2,0,1,2,0,1,justice,smith
3,2008-12-08,2008-12-08,2008-12-08,2008-12-08,2008-12-08,2008-12-08,2008-12-08,2008-12-08,2008-12-08,2008-12-08,...,1,0,1,0,1,2,1,0,justice,smith
4,2013-07-02,2013-07-02,2013-07-02,2013-07-02,2013-07-02,2013-07-02,2013-07-02,2013-07-02,2013-07-02,2013-07-02,...,1,0,3,0,1,2,1,2,justice,smith
5,2013-04-21,2013-04-21,2013-04-21,2013-04-21,2013-04-21,2013-04-21,2013-04-21,2013-04-21,2013-04-21,2013-04-21,...,2,1,1,0,0,1,1,4,justice,smith
6,2015-12-15,2015-12-15,2015-12-15,2015-12-15,2015-12-15,2015-12-15,2015-12-15,2015-12-15,2015-12-15,2015-12-15,...,1,1,2,1,0,2,1,1,justice,smith
7,2020-08-10,2020-08-10,2020-08-10,2020-08-10,2020-08-10,2020-08-10,2020-08-10,2020-08-10,2020-08-10,2020-08-10,...,1,1,3,0,0,1,1,4,justice,smith
8,2002-10-30,2002-10-30,2002-10-30,2002-10-30,2002-10-30,2002-10-30,2002-10-30,2002-10-30,2002-10-30,2002-10-30,...,2,1,2,0,1,1,0,4,justice,smith
9,2021-08-09,2021-08-09,2021-08-09,2021-08-09,2021-08-09,2021-08-09,2021-08-09,2021-08-09,2021-08-09,2021-08-09,...,3,1,2,1,1,1,1,2,justice,smith

In [35]:
import redcap
project = redcap.Project(qa_api_url, qa_pid49)

In [36]:
%%time
response = project.import_records(df_10, force_auto_number=True)
response

Wall time: 6.6 s

{'count': 10}

In [26]:

def funct1():
    for i in [1,2,3,4]:
        print(i)

In [29]:
%%time
funct1()

1
2
3
4
Wall time: 999 µs

# Creating random string for remaining columns

# attempt to import single row of dates and selection fields

In [ ]:
df_qa

In [ ]:
#adding selection fields
df_selection = pd.DataFrame(selection_columns_100)
df_qa.loc[1, df_selection.columns] = df_selection.loc[0,:]

In [ ]:
#adding date fields
df_date = pd.DataFrame(date_dict100)

#convert to redcap format
for i in df_date:
    df_date[i] =  df_date[i].dt.strftime('%Y-%m-%d')
df_qa.loc[1, df_date.columns] = df_date.loc[0,:]

In [ ]:
text_fields = ['first_name', 'last_name']

In [ ]:
text2_dict = {i:"abcdef" for i in text_fields}
df_text2 = pd.DataFrame(text2_dict, index = [0])

df_qa.loc[1,df_text2.columns] = df_text2.loc[0,:]

In [ ]:
df_qa

In [ ]:
df_qa["study_id"] = [1,2]

df_qa

In [ ]:
#Connecting to PID171
import redcap
project = redcap.Project(qa_api_url, qa_pid49)

response = project.import_records(df_qa, force_auto_number=False)
response

# Attempting delete records via API

In [ ]:
"""
all data API request
"""

fields = {
    'token': qa_pid49,
    'content': 'record',
    'action': "delete",
    "records[0]": "[1,2]"}

r = requests.post(qa_api_url, data=fields)

#df = pd.read_csv(io.StringIO(r.content.decode("utf-8")), index_col=0)

In [ ]:
r